.posts {
  color: brown;
  text-align: justify;
  text-indent: 30px;
  width: 60%;
  font-family: sans-serif;
  line-height: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-me {
  color: grey;
  text-align: center;
  width: 50%;
}
